.alert {
  position: absolute;
  z-index: 9999;
  min-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  background: #f9f9f9;
  padding: 16px;
  box-sizing: border-box;
}

.title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.message {
  font-size: 14px;
  line-height: 1.5;
}

.warning {
  border: 2px solid #efbf21;
}

.success {
  border: 2px solid #2b9a0a;
}

.info {
  border: 2px solid #2a5f8f;
}

.danger {
  border: 2px solid #c82333;
}