.pageContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sideBar {
  padding: 20px;
  margin-left: 15px;
  position: absolute;
  left: 0;
  top: 50%;
  height: 100px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  backdrop-filter: blur(2px);
  animation: fadeIn 0.2s ease;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}