$primary-color: #4a90e2;
$primary-hover: #357abd;
$primary-active: #2a5f8f;

$secondary-color: #6c757d;
$secondary-hover: #5a6268;
$secondary-active: #484f54;

$danger-color: #dc3545;
$danger-hover: #c82333;
$danger-active: #bd2130;

$border-radius: 6px;
$transition: all 0.2s ease-in-out;


@mixin button-variant($bg-color, $hover-color, $active-color) {
  background-color: $bg-color;
  color: white;

  &:hover:not(:disabled) {
    background-color: $hover-color;
  }

  &:active:not(:disabled) {
    background-color: $active-color;
  }
}


@mixin button-size($padding, $font-size, $min-height) {
  padding: $padding;
  font-size: $font-size;
  min-height: $min-height;
}


.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: $transition;
  position: relative;
  white-space: nowrap;
  user-select: none;

  &:focus-visible {
    outline: 2px solid $primary-color;
    outline-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}


.small {
  @include button-size(6px 12px, 14px, 32px);
}

.medium {
  @include button-size(10px 20px, 16px, 40px);
}

.large {
  @include button-size(14px 28px, 18px, 48px);
}


.primary {
  @include button-variant($primary-color, $primary-hover, $primary-active);
}

.secondary {
  @include button-variant($secondary-color, $secondary-hover, $secondary-active);
}

.outline {
  background-color: transparent;
  color: $primary-color;
  border: 2px solid $primary-color;

  &:hover:not(:disabled) {
    background-color: $primary-color;
    color: white;
  }

  &:active:not(:disabled) {
    background-color: $primary-hover;
    border-color: $primary-hover;
  }
}

.danger {
  @include button-variant($danger-color, $danger-hover, $danger-active);
}

.fullWidth {
  width: 100%;
}

